@model kaninos.Models.CriadorDTO
@{
    ViewBag.Title = "Eliminar";
    Layout ="~/Views/Template/_CriadoresLayout.cshtml";
}
                <div class="col mx-3 bg-dark text-white">
                    <h3 class="text-center fw-bold pt-5">@ViewData["Title"]</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="container-fluid">
                                <p>Nombre:</p>
                                <p>Email:</p>
                                <p>Dirección:</p>
                                <p>Facebook:</p>
                                <p>Twitter:</p>
                                <p>Youtube:</p>                          
                            </div>
                        </div>
                        <div class="col">
                            <div class="container-fluid">
                                <p>@Model.nombre</p>
                                <p>@Model.email</p>
                                <p>@Model.direccion</p>
                                <p>@Model.facebook</p>
                                <p>@Model.twitter</p>
                                <p>@Model.youtube</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <p>Logotipo</p>
                        <p>Fotografía</p>
                    </div>
                    <h2 class="text-center fw-bold py-2">¿Estás Seguro?</h2>
                    <form action="" method="post">
                        <input type="hidden" asp-for="id_criador">
                        <div class="text-center">
                            <input class="btn btn-danger ml-2 mr-2" type="submit" value="Eliminar">
                            <a class="btn btn-primary ml-2" asp-controller="Criadores" asp-action="Index">Volver</a>
                        </div>
                    </form>
                </div>