@model kaninos.Models.CriadorDTO
@{
    ViewBag.Title = "Detalles";
    Layout ="~/Views/Template/_CriadoresLayout.cshtml";
    var fotoPath = $"~/image/usr/{(@Model.fotografia ?? "not-found.png")}";
    var logoPath = $"~/image/usr/{(@Model.logotipo ?? "not-found.png")}";
}
                <div class="col mx-3 bg-dark text-white">
                    <h3 class="text-center fw-bold pt-5">@ViewData["Title"]</h3>
                    <h2 class="text-center fw-bold py-2"></h2>
                    <div class="row">
                        <div class="col-4">
                            <div class="container-fluid">
                                <p>Nombre:</p>
                                <p>Email:</p>
                                <p>Dirección:</p>
                                <p>Facebook:</p>
                                <p>Twitter:</p>
                                <p>Youtube:</p>                          
                            </div>
                        </div>
                        <div class="col">
                            <div class="container-fluid">
                                <p>@Model.nombre</p>
                                <p>@Model.email</p>
                                <p>@Model.direccion</p>
                                <p>@Model.facebook</p>
                                <p>@Model.twitter</p>
                                <p>@Model.youtube</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <p>Logotipo:</p>
                                <div class="py-2">
                                    <img src="@logoPath" alt="Logotipo" class="img-fluid img-not" asp-append-version="true" id="fotografia" name="fotografia"></img>
                                </div>
                            </div>
                            <div class="col">
                                <p>Fotografía:</p>
                                <div class="py-2">
                                    <img src="@fotoPath" alt="@Model.nombre" class="img-fluid img-not" asp-append-version="true" id="fotografia" name="fotografia"></img>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-primary ml-2" asp-controller="Criadores" asp-action="Index">Volver</a>
                    </div>
                </div>