@model IEnumerable<EjemplarDTO>
@{
    ViewBag.Title = "Arbol Genealogico";
    Layout ="~/Views/Template/_adminLayout.cshtml";
}
        <div class="col mx-3">
            <div class="bg-dark">
                <h1 class="text-center fw-bold p-5 bg-dark  text-white">@ViewData["Title"]</h1> 
                <div class="mx-3">
                    <table class="table table-light table-striped text-center py-2">
                        <tr class="active">
                            <th>Nombre</th>
                            <th>Foto Del Ejemplar</th>
                            <th>Padre</th>
                            <th>Madre</th>
                        </tr>
                    @foreach (var item in Model)
                    {
                        var fotoPath = $"~/image/usr/{(@item.foto_ejemplar ?? "not-found.png")}";
                        <tr>
                            <th>@item.nombre</th>
                            <th>
                                <div class="py-2">
                                    <img src="@fotoPath" alt="@item.nombre" class="img-fluid img-arbol" asp-append-version="true" id="foto_ejemplar" name="foto_ejemplar"></img>
                                </div>
                            </th>
                            <th>@item.id_padre</th>
                            <td>@item.id_madre</td>
                        </tr>
                    }
                    </table>
                </div>
            </div>
        </div>