@model kaninos.Models.EjemplarDTO
@{
    ViewBag.Title = "Eliminar";
    Layout ="~/Views/Template/_EjemplaresLayout.cshtml";
    var fotoPath = $"~/image/usr/{(@Model.foto_ejemplar ?? "not-found.png")}";
}

                <div class="col mx-3 bg-dark text-white">
                    <h3 class="text-center fw-bold pt-5">@ViewData["Title"]</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="container-fluid">
                                <p>Nombre:</p>
                                <p>Edad:</p>
                                <p>Raza:</p>
                                <p>Criador:</p>
                                <p>Variedad:</p>
                                <p>Color:</p>
                                <p>Descripción:</p>                          
                            </div>
                        </div>
                        <div class="col">
                            <div class="container-fluid">
                                <p>@Model.nombre</p>
                                <p>@Model.edad</p>
                                <p>@Model.raza</p>
                                <p>@Model.criador</p>
                                <p>@Model.variedad</p>
                                <p>@Model.color</p>
                                <p>@Model.descripcion</p>
                                 
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <p>Foto Del Ejemplar:</p>
                        <div class="py-2">
                            <img src="@fotoPath" alt="@Model.nombre" class="img-fluid img-not" asp-append-version="true" id="foto_ejemplar" name="foto_ejemplar"></img>
                        </div>
                    </div>
                    <h2 class="text-center fw-bold py-2">¿Estás Seguro?</h2>
                    <form action="" method="post">
                        <input type="hidden" asp-for="id_ejemplar">
                        <div class="text-center">
                            <input class="btn btn-danger ml-2 mr-2" type="submit" value="Eliminar">
                            <a class="btn btn-primary ml-2" asp-controller="Ejemplares" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>