@model IEnumerable<EjemplarDTO>
@{
    ViewBag.Title = "Ejemplares";
    Layout ="~/Views/Template/_adminLayout.cshtml";
}
                <div class="col mx-3">
                    <div class="row">
                        <div class="col mx-3 bg-dark">
                            <h3 class="text-center fw-bold pt-5 bg-dark text-white">@ViewData["Title"]</h3>
                            <div class="container-fluid align-content-end">
                                <form action="#">
                                    <div class="text-left">
                                        <a class="btn btn-success my-3" asp-controller="Ejemplares" asp-action="New">Nuevo</a>
                                    </div>
                                    <table class="table table-light table-striped text-center">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Foto</th>
                                            <th>Datos del ejemplar</th>
                                            <th></th>
                                        </tr>
                                    @foreach (var item in Model)
                                    {
                                        var fotoPath = $"~/image/usr/{(@item.foto_ejemplar ?? "not-found.png")}";
                                        <tr>
                                            <td>@item.id_ejemplar</td>
                                            <td>@item.nombre</td>
                                            <td>
                                                <div class="py-2">
                                                    <img src="@fotoPath" alt="@item.nombre" class="img-fluid img-arbol" asp-append-version="true" id="foto_ejemplar" name="foto_ejemplar"></img>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <p>Edad: @item.edad</p>
                                                <p>Descripción: @item.descripcion</p>
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <a class="btn btn-secondary my-2" asp-controller="Ejemplares" asp-action="Details" asp-route-id="@item.id_ejemplar">Detalles</a>
                                                    <a class="btn btn-primary my-2" asp-controller="Ejemplares" asp-action="Edit" asp-route-id="@item.id_ejemplar">Modificar</a>
                                                    <a class="btn btn-danger my-2" asp-controller="Ejemplares" asp-action="Delete" asp-route-id="@item.id_ejemplar">Eliminar</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>