@model kaninos.Models.EjemplarDTO
@{
    ViewBag.Title = "Nuevo";
    Layout ="~/Views/Template/_EjemplaresLayout.cshtml";
    var fotoPath = $"~/image/usr/not-found.png";
}
                <div class="col mx-3">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-7 mx-3 bg-dark text-white-50">
                                <h3 class="text-center fw-bold py-5 bg-dark text-white">Ejemplares</h3>
                                <div class="mb-2">
                                    <p class="text-info">@ViewBag.Message</p>
                                    <p class="text-info">@ViewBag.Message0</p>
                                    <p class="text-info">@ViewBag.Message1</p>
                                    <p class="text-info">@ViewBag.Message2</p>
                                    <p class="text-info">@ViewBag.Message3</p>
                                    <p class="text-info">@ViewBag.Message4</p>
                                </div>
                                <div class="mb-4">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" asp-for="nombre" maxlength="50" required>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <input type="hidden" asp-for="id_padre" value="@ViewBag.Padre">
                                        <div class="input-group mb-4">
                                            <input class="form-control me-2" type="search" asp-for="padre" placeholder="Padre" aria-label="Search" required>
                                            <div class="input-group-append">
                                                <input class="btn btn-success" type="submit" asp-for="btn_padre" value="Buscar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <input type="hidden" asp-for="id_madre" value="@ViewBag.Madre">
                                        <div class="input-group mb-4">
                                            <input class="form-control me-2" type="search" asp-for="madre" placeholder="Madre" aria-label="Search" required>
                                            <div class="input-group-append">
                                                <input class="btn btn-success" type="submit" asp-for="btn_madre" value="Buscar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <label for="edad" class="form-label">Edad</label>
                                        <input type="number" class="form-control" asp-for="edad" min="0" max="20" required>
                                    </div>
                                    <div class="col-6">
                                        <br>
                                        <select class="form-control mt-2" title="Raza" asp-for="id_raza" required>
                                            <option value="">Raza</option>
                                            @foreach (var item in ViewBag.Raza)
                                            {
                                                <option value="@item.id_raza">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="id_criador" value="@ViewBag.Criador">
                                <div class="input-group mb-4">
                                    <input class="form-control me-2" type="search" asp-for="criador" placeholder="Criador" aria-label="Search" required>
                                    <div class="input-group-append">
                                        <input class="btn btn-success" type="submit" asp-for="btn_criador" value="Buscar">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <select class="form-control" title="Variedad" asp-for="id_variedad" required>
                                            <option value="">Variedad</option>
                                            @foreach (var item in ViewBag.Variedad)
                                            {
                                                <option value="@item.id_variedad">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control" aria-label="color" asp-for="id_color" required>
                                            <option value="">Color</option>
                                            @foreach (var item in ViewBag.Color)
                                            {
                                                <option value="@item.id_color">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea class="form-control" placeholder="Descripción" asp-for="descripcion" maxlength="500" required></textarea>
                                </div>
                            </div>
                            <div class="col mx-3 bg-dark text-white-50">
                                <h3 class="text-center fw-bold py-5 text-white">Imágenes</h3>
                                <div class="form-group py-2">
                                    <img src="@fotoPath" alt="Foto" class="img-fluid img-not" asp-append-version="true" id="foto_ejemplar" name="foto_ejemplar"></img>
                                </div>
                                <div class="form-group">
                                    <label asp-for="foto" class="form-label">Fotografía</label>
                                    <input class="form-control-file" type="file" asp-for="foto">
                                    <span asp-validation-for="foto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 text-right">
                            <input class="btn btn-light ml-2 mr-2" type="reset" value="Restablecer">
                            <input class="btn btn-success ml-2 mr-2" type="submit" asp-for="btn_reg" value="Registar">
                            <a class="btn btn-danger ml-2" asp-controller="Ejemplares" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>